.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    // &__label {
    //   font-size: 20px;
    // }
  
    &__input {
      // margin: 20px 0;
      padding: 10px;
      padding-left: 40px;
      font-size: 18px;
      border: 2px rgb(106, 139, 245) solid;
      border-radius: 50px;
      color: black;
  
      &:focus {
        border: 2px lightblue solid;
        outline: none;
      }
    }
  }
  
  @media screen and (min-width: 992px) {
    .search-box {
     
      &__input {
        width: 250px;
      }
    }
  }
  